
.z1{
    color:green;
    font-size:15px;
}

.z2{
    color:red;
    font-size:22px;
}

.s1{
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.s2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}

.d1{
    background-color:yellow;
    width: 200px;
    height: 100px;
    border-left: 50px;
    border-right: 50px;
    border-bottom: 100px;
    margin-bottom: 10px;
}
.d2{
    background-color:red;
    width: 200px;
    height: 100px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.d3{
    background-color:green;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}


