

.d1{
    background-color:yellow;
    width: 200px;
    height: 100px;
}
.d2{
    background-color:blueviolet;
    width: 200px;
    height: 100px;
    
}
.d3{
    background-color:pink;
    width: 200px;
    height: 100px;
    
}


.dA{
    background-color:red;
    width: 200px;
    height: 100px;
}
.dB{
    background-color:blue;
    width: 200px;
    height: 100px;
    
}
.dC{
    background-color:brown;
    width: 200px;
    height: 100px;
    
}

.da{
    background-color:black;
    width: 200px;
    height: 100px;
}
.db{
    background-color:beige;
    width: 200px;
    height: 100px;
    
}
.dc{
    background-color:purple;
    width: 200px;
    height: 100px;
    
}
.divmaman{
    display: flex;
    flex-direction: row;
}

.divmaman2{
    display: flex;
    flex-direction: column;
}

.divmaman3{
    display: flex;
    flex-direction: row-reverse;
}

.premierh1{
    text-align: center;
    color: pink;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 30px;
}




